@import '../00-settings/colors';
@import '../00-settings/breakpoints';

$m-feature-body-color: $s-black;
$m-feature-body-font-size: 14px;
$m-feature-body-font-weight: 400;
$m-feature-body-top-margin: 8px;
$m-feature-heading-color: $s-black;
$m-feature-heading-font-size: 28px;
$m-feature-heading-font-weight: 600;
$m-feature-link-right-margin: 16px;
$m-feature-links-top-margin: 32px;
$m-feature-module-reflow-breakpoint: $s-breakpoint-m;
$m-feature-text-container-padding: 20px;

.m-feature {
  lost-utility: clearfix; // Lost grid uses float. Use clearfix to achieve correct element height

  /* body should have top margin only when there's something above it */
  * + .body {
    margin-top: $m-feature-body-top-margin;
  }

  /* links should have 32px top margin only when there's something above it */
  * + .links-container {
    margin-top: $m-feature-links-top-margin;
  }

  .text-container {
    padding: $m-feature-text-container-padding;
  }

  .heading {
    color: $m-feature-heading-color;
    font-weight: $m-feature-heading-font-weight;
    font-size: $m-feature-heading-font-size;
  }

  .body {
    color: $m-feature-body-color;
    font-weight: $m-feature-body-font-weight;
    font-size: $m-feature-body-font-size;
  }

  .c-btn {
    width: 100%;
  }

  @media screen and (min-width: $m-feature-module-reflow-breakpoint) {
    .img {
      lost-column: 2/3 2;
    }

    .text-container {
      lost-column: 1/3 2;
    }

    &.text-left {
      .img {
        lost-move: 1/3 2; // shift image to right
      }

      .text-container {
        lost-move: -2/3 2; // shift text to left
      }
    }

    .c-btn {
      width: auto;
    }
    .c-btn + .c-btn {
      margin-top: 0;
      margin-left: $m-feature-link-right-margin;
    }
  }
}
