@import '../00-settings/colors';
@import '../00-settings/breakpoints';

$m-hero-body-color: $s-black;
$m-hero-body-font-size: 14px;
$m-hero-body-font-weight: 400;
$m-hero-body-max-length: 30em;
$m-hero-body-top-margin: 8px;
$m-hero-heading-color: $s-black;
$m-hero-heading-font-size: 28px;
$m-hero-heading-font-weight: 600;
$m-hero-heading-max-length: 30em;
$m-hero-link-right-margin: 16px;
$m-hero-links-reflow-breakpoint: $s-breakpoint-m;
$m-hero-links-top-margin: 32px;
$m-hero-module-height: 500px;
$m-hero-module-reflow-breakpoint: $s-breakpoint-l;
$m-hero-text-container-padding: 32px;

@mixin overlay-text-on-image {
  .text-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.m-hero {
  position: relative;

  img {
    min-width: 100%;
  }

  /**
   * Text over image by default only in modern browsers.
   * We must reflow the text to bottom in IE 11 because it doesn't support srcset and the image will be too short to put text over it.
   */
  @supports (object-fit: cover) {
    img {
      height: $m-hero-module-height;
      object-fit: cover;
    }

    @include overlay-text-on-image;
  }

  /**
   * When the image is tall enough for IE 11 to display text on top of it. 
   */
  @media screen and (min-width: $m-hero-module-reflow-breakpoint) {
    @include overlay-text-on-image;
  }

  .heading {
    color: $m-hero-heading-color;
    font-weight: $m-hero-heading-font-weight;
    font-size: $m-hero-heading-font-size;
    max-width: $m-hero-heading-max-length;
  }

  .body {
    color: $m-hero-body-color;
    font-weight: $m-hero-body-font-weight;
    font-size: $m-hero-body-font-size;
    max-width: $m-hero-body-max-length;
  }

  /* body should have top margin only when there's something above it */
  * + .body {
    margin-top: $m-hero-body-top-margin;
  }

  /* links should have 32px top margin only when there's something above it */
  * + .links-container {
    margin-top: $m-hero-links-top-margin;
  }

  .text-container {
    padding: $m-hero-text-container-padding;
    display: flex;
    flex-direction: column;

    &.left,
    &.center,
    &.right {
      justify-content: center;
    }

    &.bottom-left,
    &.bottom,
    &.bottom-right {
      justify-content: flex-end;
    }

    &.top,
    &.center,
    &.bottom {
      align-items: center;
      text-align: center;
    }

    &.top-right,
    &.right,
    &.bottom-right {
      align-items: flex-end;
      text-align: right;
    }
  }

  .c-btn {
    width: 100%;
  }

  .c-btn + .c-btn {
    margin-left: 0;
    margin-top: 16px;
  }

  @media screen and (min-width: $m-hero-links-reflow-breakpoint) {
    .c-btn {
      width: auto;
    }
    .c-btn + .c-btn {
      margin-top: 0;
      margin-left: $m-hero-link-right-margin;
    }
  }
}
