@import '../00-settings/spacing';
@import '../00-settings/breakpoints';

$m-spacer-size-desktop: $s-vertical-gutter-base-unit-desktop;
$m-spacer-size-mobile: $s-vertical-gutter-base-unit-mobile;
$m-spacer-shrink-breakpoint: $s-breakpoint-m;

.m-spacer {
  height: $s-vertical-gutter-base-unit-mobile;

  @media screen and (min-width: $m-spacer-shrink-breakpoint) {
    & {
      height: $m-spacer-size-desktop;
    }
  }
}
