@import '../00-settings/breakpoints';

$m-spacer-size-desktop: 80px;
$m-spacer-size-mobile: 48px;

.m-spacer {
  height: $m-spacer-size-mobile;

  @media screen and (min-width: $s-breakpoint-m) {
    & {
      height: $m-spacer-size-desktop;
    }
  }
}
