@import "../00-settings/colors";

$c-btn-basic-color: $s-gray-dark;
$c-btn-basic-bg: $s-white;
$c-btn-basic-border-color: $s-gray-light;
$c-btn-primary-color: $s-white;
$c-btn-primary-bg: $s-blue;
$c-btn-min-width: 160px;
$c-btn-side-padding: 16px;
$c-btn-height: 32px;
$c-btn-icon-to-text-gap: 4px;
$c-btn-border-radius: 2px;

a.c-btn {
  display: inline-flex;
  text-decoration: none;
}

.c-btn {
  align-items: center;
  background-color: $c-btn-basic-bg;
  border: 1px solid $c-btn-basic-border-color;
  color: $c-btn-basic-color;
  cursor: pointer;
  display: inline-flex;
  font: $s-font-14-sb;
  height: $c-btn-height;
  justify-content: center;
  padding: 0 $c-btn-side-padding;
  border-radius: $c-btn-border-radius;

  &.c-btn--ghost {
    border-color: transparent;
    background-color: transparent;
  }

  &.c-btn--primary {
    border-color: transparent;
    background-color: $c-btn-primary-bg;
    color: $c-btn-primary-color;
  }

  &.c-btn--wide {
    min-width: $c-btn-min-width;
  }

  &.c-btn--square {
    width: $c-btn-height;
    height: $c-btn-height;
  }

  &.c-btn--icon-before {
    > :first-child {
      margin-right: $c-btn-icon-to-text-gap;
    }
  }

  &.c-btn--icon-after {
    > :last-child {
      margin-left: $c-btn-icon-to-text-gap;
    }
  }

  &.c-btn--link {
    border-color: transparent;
    background-color: transparent;
    text-decoration: underline;
  }
}
