@import '../00-settings/breakpoints';

$gutter-size-h: 20px;
$gutter-size-v: 32px;

.c-grid {
  overflow: hidden; /* prevent overflow caused by negative margin */

  .c-grid__cells {
    margin: -$gutter-size-v $gutter-size-h;
    padding: $gutter-size-v 0 0 $gutter-size-h;
    display: flex;
    flex-wrap: wrap;
  }

  .c-grid__cell {
    width: calc(100% / 2);
    border: 0 solid transparent;
    border-width: 0 $gutter-size-h $gutter-size-v 0;
  }

  @media screen and (min-width: $s-breakpoint-l) {
    .c-grid__cell {
      width: calc(100% / 3);
    }
  }
  @media screen and (min-width: $s-breakpoint-xl) {
    .c-grid__cell {
      width: calc(100% / 4);
    }
  }
}
