@import '../00-settings/iconography';
@import '../01-tools/visually-hidden';

/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/
@font-face {
  font-family: $icon-font-family;
  src: url('//theme-lab-cdn.netlify.com/fonts/FabExMDL2.woff') format('woff');
}

@mixin use-glyph($unicode) {
  &::before {
    content: $unicode;
  }
}

.c-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: normal;
  speak: none;

  .c-icon__sr-label {
    @include visually-hidden;
  }

  &.c-icon--cart {
    @include use-glyph($shopping-bag);
  }
  &.c-icon--wishlist {
    @include use-glyph($heart);
  }
  &.c-icon--search {
    @include use-glyph($magnifying-glass);
  }
  &.c-icon--go-shop {
    @include use-glyph($arrow-right);
  }
  &.c-icon--close {
    @include use-glyph($x-shape);
  }
}
