$s-black: #000;
$s-gray-160: #323130;
$s-gray-120: #797775;
$s-gray-90: #a19f9d;
$s-gray-60: #c8c6c4;
$s-gray-20: #f3f2f1;
$s-white: #fff;
$s-blue: #2266e3;

/* semantic colors */
$s-error: #a80000;
$s-modal-overlay: rgba(0, 0, 0, 0.7);
