$icon-font-family: "FabricMDL2Icons";

$arrow-right: "\E72A";
$chevron-left: "\E76B";
$chevron-right: "\E76C";
$dummy-figure: "\E77B";
$hamburger: "\E700";
$heart: "\EB51";
$magnifying-glass: "\E721";
$shopping-bag: "\E719";
$x-shape: "\E711";
