@import '../00-settings/colors';

$divider-vertical-margin: 20px;
$cart-items-right-margin: 40px;
$summary-min-width: 320px;
$summary-max-width: 480px;

.m-cart {

  // just for demo
  .m-cart__summary {
    font-size: 18px;
    padding: 20px;
    height: 400px;
    color: white;
    background-color: gray;
  }

  .m-cart__divider {
    margin: $divider-vertical-margin 0;
  }

  @media screen and (min-width: $s-breakpoint-l) {
    display: flex;

    .m-cart__items {
      margin-right: $cart-items-right-margin;
      flex-grow: 1;
    }
  
    .m-cart__summary {
      flex: 1 0 $summary-min-width;
      max-width: $summary-max-width;
    }

  }
}

