@import '../00-settings/breakpoints';
@import '../01-tools/layout';

.m-columns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto; // default is single column
  grid-template-rows: auto;

  &:not(.full-bleed) {
    @include t-layout-page-clamp;
    @include t-layout-page-side-padding;
  }

  @media screen and (min-width: $s-breakpoint-l) {
    &.ratio-1-1 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    &.ratio-1-1-1 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
    }

    &.ratio-1-2 {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
    }

    &.ratio-2-1 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
    }
  }
}
