@import '../00-settings/colors';
@import '../00-settings/breakpoints';
@import '../01-tools/layout';

$m-feature-body-color: $s-black;
$m-feature-body-font-size: 14px;
$m-feature-body-font-weight: 400;
$m-feature-body-top-margin: 8px;
$m-feature-heading-color: $s-black;
$m-feature-heading-font-size: 28px;
$m-feature-heading-font-weight: 600;
$m-feature-link-right-margin: 16px;
$m-feature-links-top-margin: 32px;
$m-feature-link-to-link-spacing: 16px;

.m-feature {
  .m-feature__image {
    width: 100%;
  }

  .m-feature__text-container {
    @include t-layout-content-block-padding;
    .c-btn {
      margin: $m-feature-link-to-link-spacing / 2;
    }
  }

  .m-feature__heading {
    color: $m-feature-heading-color;
    font-weight: $m-feature-heading-font-weight;
    font-size: $m-feature-heading-font-size;
  }

  .m-feature__body {
    color: $m-feature-body-color;
    font-weight: $m-feature-body-font-weight;
    font-size: $m-feature-body-font-size;
  }
  /* body should have top margin only when there's something above it */
  * + .m-feature__body {
    margin-top: $m-feature-body-top-margin;
  }

  .m-feature__links-container {
    margin: -$m-feature-link-to-link-spacing / 2;
  }

  /* links should have top margin only when there's something above it */
  * + .m-feature__links-container {
    margin-top: $m-feature-links-top-margin - $m-feature-link-to-link-spacing / 2;
  }

  @media screen and (min-width: $s-breakpoint-m) {
    &.text-left,
    &.text-right {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
    }

    &.text-left {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;

      .m-feature__image-container {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }

      .m-feature__text-container {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }
    }
  }
}
