@import "../00-settings/colors";
@import "../00-settings/shadows";
@import "../00-settings/typography";
@import "../00-settings/breakpoints";
@import "../01-tools/layout";

$root-bottom-padding: 32px;
$root-font-family: $s-primary-font-family;
$root-top-padding: 20px;
$category-gap: 24px;
$toolbar-items-gap: 8px;
$toolbar-items-height: 48px;
$toolbar-divider-height: 20px;

.m-header {
  color: $s-gray-dark;
  font-family: $root-font-family;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: $root-top-padding;
  padding-bottom: $root-bottom-padding;
  @include t-layout-page-side-padding;
  padding: 0;

  .m-header__hamburger {
    margin-right: $toolbar-items-gap;
  }

  .m-header__logo-container {
    margin-right: auto;
  }

  .m-header__search-label {
    display: none;
  }

  .m-header__account {
    display: none; // not visible in mobile
    margin-left: $toolbar-items-gap;
  }

  .m-header__wishlist {
    display: none; // not visible in mobile
    margin-left: $toolbar-items-gap;
  }

  .m-header__nav-li {
    margin-right: $category-gap;
  }

  @media screen and (min-width: $s-breakpoint-l) {
    .m-header__hamburger {
      display: none;
    }
    .m-header__account {
      display: flex;
    }
    .m-header__wishlist {
      display: flex;
    }
    .m-header__search-label {
      display: inline;
    }
    .m-header__cart {
      margin-left: $toolbar-items-gap;
    }
    .m-header__divider {
      width: 1px;
      height: $toolbar-divider-height;
      background-color: $s-gray;
      margin: ($toolbar-items-height - $toolbar-divider-height) / 2 0;
    }
  }
}

.mc-categories {
  color: $s-gray-dark;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding-right: 80px;
    font: $s-font-16;
    color: inherit;
    text-decoration: none;
  }
}

$menu-min-width: 256px;
$menu-padding: 4px 0 20px;

.mc-dropdown-menu {
  color: $s-gray-dark;
  min-width: $menu-min-width;
  position: absolute;
  background: $s-white;
  box-shadow: $s-dropdown-shadow;
  padding: $menu-padding;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    display: block;
    padding: 10px 32px;
    font: $s-font-16-sb;
    color: inherit;
    text-decoration: none;
  }
}

.mc-full-screen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $s-modal-overlay;
}

.mc-full-screen-menu__content {
  background-color: $s-white;
}
