@import '../00-settings/colors';
@import '../00-settings/breakpoints';
@import '../01-tools/layout';

$m-hero-body-color: $s-black;
$m-hero-body-font-size: 14px;
$m-hero-body-font-weight: 400;
$m-hero-body-max-length: 30em;
$m-hero-body-top-margin: 8px;
$m-hero-heading-color: $s-black;
$m-hero-heading-font-size: 28px;
$m-hero-heading-font-weight: 600;
$m-hero-heading-max-length: 30em;
$m-hero-link-to-link-spacing: 16px;
$m-hero-links-top-margin: 32px;
$m-hero-module-height: 500px;
$m-hero-module-reflow-breakpoint: $s-breakpoint-l;

@mixin overlay-text-on-image {
  .m-hero__text-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.m-hero {
  position: relative;

  .m-hero__image {
    min-width: 100%;
  }

  .m-hero__heading {
    color: $m-hero-heading-color;
    font-weight: $m-hero-heading-font-weight;
    font-size: $m-hero-heading-font-size;
    max-width: $m-hero-heading-max-length;
  }

  .m-hero__body {
    color: $m-hero-body-color;
    font-weight: $m-hero-body-font-weight;
    font-size: $m-hero-body-font-size;
    max-width: $m-hero-body-max-length;
  }

  /* body should have top margin only when there's something above it */
  * + .m-hero__body {
    margin-top: $m-hero-body-top-margin;
  }

  .m-hero__links-container {
    margin: -$m-hero-link-to-link-spacing / 2;
  }

  /* links should have top margin only when there's something above it */
  * + .m-hero__links-container {
    margin-top: $m-hero-links-top-margin - $m-hero-link-to-link-spacing / 2;
  }

  .m-hero__text-container {
    @include t-layout-page-side-padding;
    display: flex;
    flex-direction: column;

    &.left,
    &.center,
    &.right {
      justify-content: center;
    }

    &.center {
      align-items: center;
      text-align: center;
    }

    &.right {
      align-items: flex-end;
      text-align: right;
    }

    .c-btn {
      margin: $m-hero-link-to-link-spacing / 2;
    }
  }

  /**
   * Text over image by default only in modern browsers.
   * We must reflow the text to bottom in IE 11 because it doesn't support srcset and the image will be too short to put text over it.
   */
  @supports (object-fit: cover) {
    .m-hero__image {
      height: $m-hero-module-height;
      object-fit: cover;
    }

    @include overlay-text-on-image;
  }

  /**
   * When the image is tall enough for IE 11 to display text on top of it. 
   */
  @media screen and (min-width: $s-breakpoint-l) {
    @include overlay-text-on-image;
  }
}
