$text-container-top-margin: 12px;
$body-top-margin: 4px;
$module-font-size: 14px;
$heading-font-size: 18px;
$heading-font-weight: 400;

.m-tile {
  font-size: $module-font-size;

  .m-tile__img {
    width: 100%;
  }

  .m-tile__text-container {
    margin-top: $text-container-top-margin;
    display: flex;
    flex-direction: column;

    &.center {
      align-items: center;
      text-align: center;
    }

    &.right {
      align-items: flex-end;
      text-align: right;
    }
  }

  .m-tile__heading {
    font-size: $heading-font-size;
    font-weight: $heading-font-weight;
  }

  /* body should have top margin only when there's something above it */
  * + .m-tile__body {
    margin-top: $body-top-margin;
  }
}
