.m-content-card--limit-width {
  width: 33%;
}

.m-content-card__img {
  width: 100%;
}

.m-content-card__heading {
  font: var(--hero-heading);
}

.m-content-card__paragraph {
  font: var(--hero-paragraph);
}

* + .m-content-card__paragraph {
  margin-top: 8px; /* paragraph should have 8px top margin when there's anything above it */
}

* + .m-content-card__actions {
  margin-top: 32px; /* actions should have 32px top margin when there's anything above it */
}

.m-content-card--text-aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.m-content-card__text--with-padding {
  padding: 20px;
}

.m-content-card--text-over {
  display: grid;
}

.m-content-card__text--align-center {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.m-content-card--text-over .m-content-card__img,
.m-content-card--text-over .m-content-card__text {
  grid-column: 1;
  grid-row: 1;
}
