@import '../02-theme/_breakpoints.scss';

:root {
  --m-content-card-heading-margin-top: 12px;
  --m-content-card-paragraph-top-margin: 8px;
  --m-content-card-actions-top-margin: 32px;
  --m-content-card-text-container-padding: 32px;
  --m-content-card-heading-font: 600 28px var(--primary-font);
  --m-content-card-paragraph-font: 400 14px var(--primary-font);
}

.m-content-card {
  img {
    width: 100%;
  }

  .heading {
    margin-top: var(--m-content-card-heading-margin-top);
    font: var(--m-content-card-heading-font);
  }

  .paragraph {
    font: var(--m-content-card-paragraph-font);
  }

  /* paragraph should have 8px top margin when there's something above it */
  * + .paragraph {
    margin-top: var(--m-content-card-paragraph-top-margin);
  }

  /* actions should have 32px top margin when there's something above it */
  * + .actions {
    margin-top: var(--m-content-card-actions-top-margin);
  }

  .text-container {
    padding-bottom: var(--m-content-card-text-container-padding);
  }

  &.text-right,
  &.text-left {
    .text-container {
      padding-left: var(--m-content-card-text-container-padding);
      padding-right: var(--m-content-card-text-container-padding);
    }
  }

  &.hero {
    display: grid;
    .img,
    .text-container {
      /* force them to overlap. You can also implement this with absolute position */
      grid-row: 1;
      grid-column: 1;
    }

    .text-container {
      padding: var(--m-content-card-text-container-padding);
    }

    .heading {
      margin-top: 0px;
    }
  }

  @media screen and (min-width: $break-medium) {
    &.text-right {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    &.text-left {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-flow: dense;

      .img {
        grid-column: 2;
      }

      .text-container {
        grid-column: 1;
      }
    }
  }
}
