@import '../02-theme/_breakpoints.scss';

.m-content-card {
  img {
    width: 100%;
  }

  .heading {
    margin-top: 12px;
    font: var(--hero-heading);
  }

  .paragraph {
    font: var(--hero-paragraph);
  }

  * + .paragraph {
    margin-top: 8px; /* paragraph should have 8px top margin when there's something above it */
  }

  * + .actions {
    margin-top: 32px; /* actions should have 32px top margin when there's something above it */
  }

  .text-container {
    padding-bottom: 32px;
  }

  &.text-right,
  &.text-left {
    .text-container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &.hero {
    display: grid;
    .img,
    .text-container {
      /* force them to overlap. You can also implement this with absolute position */
      grid-row: 1;
      grid-column: 1;
    }

    .text-container {
      padding: 32px;
    }

    .heading {
      margin-top: 0px;
    }
  }

  @media screen and (min-width: $break-medium) {
    &.text-right {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    &.text-left {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-flow: dense;

      .img {
        grid-column: 2;
      }

      .text-container {
        grid-column: 1;
      }
    }
  }
}
