:root {
  --m-message-bar-height: 40px;
  --m-message-bar-bg: #c4c4c4;
  --m-message-bar-interval: 3000ms;
  --m-message-bar-speed: 500ms;
  --m-message-bar-enter-timing-func: cubic-bezier(0.5, 0, 0.5, 1);
  --m-message-bar-exit-timing-func: cubic-bezier(0.5, 0, 0.5, 1);
}

.m-message-bar {
  height: var(--m-message-bar-height);
  background-color: var(--m-message-bar-bg);
  display: flex;
  align-items: center;
  justify-content: center;

  &.multiple {
    overflow: hidden;
    position: relative;

    .message {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      /* Animation is hard coded for 3 slides. In order to scale to arbitrary number of slides, javascript is needed to set which slide is entering/exiting */
      &:nth-child(1) {
        animation: exit var(--m-message-bar-speed) var(--m-message-bar-exit-timing-func) var(--m-message-bar-interval) both;
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translate(50%, -50%);
        animation: enter var(--m-message-bar-speed) var(--m-message-bar-enter-timing-func) var(--m-message-bar-interval) both,
          exit var(--m-message-bar-speed) var(--m-message-bar-exit-timing-func) calc(2 * var(--m-message-bar-interval)) forwards;
      }
      &:nth-child(3) {
        opacity: 0;
        transform: translate(50%, -50%);
        animation: enter var(--m-message-bar-speed) var(--m-message-bar-enter-timing-func) calc(2 * var(--m-message-bar-interval)) both;
      }
    }
  }
}

@keyframes exit {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-150%, -50%);
    opacity: 0;
  }
}

@keyframes enter {
  from {
    transform: translate(50%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
