@import '../00-abstracts/index';

$c-btn-primary-color: $a-white;
$c-btn-primary-bg: $a-blue;
$c-btn-min-width: 160px;
$c-btn-side-padding: 12px;
$c-btn-height: 48px;

a.c-btn {
  display: inline-flex;
  text-decoration: none;
}

.c-btn {
  align-items: center;
  background-color: $c-btn-primary-bg;
  border: none;
  color: $c-btn-primary-color;
  cursor: pointer;
  display: inline-flex;
  font-family: $a-primary-font-family;
  height: $c-btn-height;
  justify-content: center;
  min-width: $c-btn-min-width;
  padding: 0 $c-btn-side-padding;
}
