:root {
  --btn-color: #fff;
  --btn-bg: #6082ab;
}

a.c-btn {
  display: inline-block;
  text-decoration: none;
}

.c-btn {
  color: var(--btn-color);
  background-color: var(--btn-bg);
  padding: 12px;
  border: none;
  cursor: pointer;
  min-width: 160px;
  text-align: center;
}
