@import '../00-abstracts/index';

$m-header-font-family: $primary-font-family;
$m-header-category-gap: 24px;
$m-header-toolbar-items-gap: 8px;
$m-header-top-padding: 20px;
$m-header-bottom-padding: 32px;
$m-header-nav-top-margin: 32px;

.m-header {
  font-family: $m-header-font-family;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: $m-header-top-padding $side-padding-l $m-header-bottom-padding;

  .logo {
    margin-right: auto;
  }

  .search {
  }

  .account {
    margin-left: $m-header-toolbar-items-gap;
  }

  .wishtlist {
    margin-left: $m-header-toolbar-items-gap;
  }

  .cart {
    margin-left: $m-header-toolbar-items-gap;
  }

  .nav {
    width: 100%;
  }

  .nav-ul {
    display: flex;
    margin-top: $m-header-nav-top-margin;
  }

  .nav-li {
    margin-right: $m-header-category-gap;
  }
}
