:root {
  --gray-23: #c4c4c4;
  --spacer-height: 20px;
  --columns-gap: 20px;
  --clamp-max-width: 1280px;
  --side-padding: 20px;
}

@media screen and (min-width: 600px) {
  :root {
    --spacer-height: 40px;
    --columns-gap: 40px;
    --side-padding: 40px;
  }
}
