$a-page-side-padding-s: 20px;
$a-page-side-padding-l: 60px;
$a-page-side-padding-xl: 120px;
$a-page-section-clamped-width: 1440px;
$a-vertical-gutter-base-unit-desktop: 80px;
$a-vertical-gutter-base-unit-mobile: 48px;
