@import '../styles/index.scss';

.m-info-bar {
  height: 40px;
  background-color: var(--gray-23);
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-header {
  display: flex;
  flex-wrap: wrap;
}

.m-header__logo {
  margin-right: auto;
}

.m-header__nav {
  width: 100%;
}

.m-spacer {
  height: var(--spacer-height);
}
.m-spacer--2x {
  height: calc(2 * var(--spacer-height));
}

.m-container--clamp {
  max-width: var(--clamp-max-width);
  margin: auto;
}
.m-container--side-padding {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}
.m-container--columns {
  display: grid;
  grid-auto-flow: column;
  gap: var(--columns-gap);
}

.m-text {
}

.m-footer {
  background-color: var(--gray-23);
  padding: 40px 0 80px 0;
}

.m-footer__columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--columns-gap);
}
