@import '../00-settings/breakpoints';

$t-layout-h-padding-s: 16px;
$t-layout-h-padding-m: 40px;
$t-layout-h-padding-l: 80px;
$t-layout-h-padding-xl: 120px;
$t-layout-v-padding-s: 16px;
$t-layout-v-padding-m: 40px;
$t-layout-v-padding-l: 64px;
$t-layout-v-padding-xl: 80px;
$t-layout-page-clamp-width: 1440px;

// Limit the max width of an element with margin on either side of the element
@mixin t-layout-page-clamp {
  max-width: $t-layout-page-clamp-width;
  margin: auto;
}

// Prevent content from touch the edge of the screen with padding on either side of the element
@mixin t-layout-page-side-padding {
  padding-left: $t-layout-h-padding-s;
  padding-right: $t-layout-h-padding-s;

  @media screen and (min-width: $s-breakpoint-m) {
    padding-left: $t-layout-h-padding-m;
    padding-right: $t-layout-h-padding-m;
  }

  @media screen and (min-width: $s-breakpoint-l) {
    padding-left: $t-layout-h-padding-l;
    padding-right: $t-layout-h-padding-l;
  }

  @media screen and (min-width: $s-breakpoint-xl) {
    padding-left: $t-layout-h-padding-xl;
    padding-right: $t-layout-h-padding-xl;
  }
}

@mixin t-layout-content-block-padding {
  padding: $t-layout-v-padding-s $t-layout-h-padding-s;

  @media screen and (min-width: $s-breakpoint-m) {
    padding: $t-layout-v-padding-m $t-layout-h-padding-m;
  }

  @media screen and (min-width: $s-breakpoint-l) {
    padding: $t-layout-v-padding-l $t-layout-h-padding-l;
  }

  @media screen and (min-width: $s-breakpoint-xl) {
    padding: $t-layout-v-padding-xl $t-layout-h-padding-xl;
  }
}
