/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/
@font-face {
  font-family: 'FabricMDL2Icons';
  src: url('../fonts/fabric-icons.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

// Mixins
@mixin ms-Icon--GlobalNavButton { content: "\E700"; }
@mixin ms-Icon--ChevronDown { content: "\E70D"; }
@mixin ms-Icon--ChevronUp { content: "\E70E"; }
@mixin ms-Icon--Shop { content: "\E719"; }


// Classes
.ms-Icon--GlobalNavButton:before { @include ms-Icon--GlobalNavButton }
.ms-Icon--ChevronDown:before { @include ms-Icon--ChevronDown }
.ms-Icon--ChevronUp:before { @include ms-Icon--ChevronUp }
.ms-Icon--Shop:before { @include ms-Icon--Shop }

