@import '../../styles/index.css';

.content-card--limit-width {
  width: 33%;
}

.content-card__img {
  width: 100%;
}

.content-card--text-aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.content-card__text--with-padding {
  padding: 20px;
}

.content-card--text-over {
  display: grid;
}

.content-card__text--align-center {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.content-card--text-over .content-card__img,
.content-card--text-over .content-card__text {
  grid-column: 1;
  grid-row: 1;
}
